$mvv-green: (
    50 : #e8f6e9,
    100 : #c5e9c8,
    200 : #9fdaa4,
    300 : #79cb7f,
    400 : #5cc063,
    500 : #3fb548,
    600 : #39ae41,
    700 : #31a538,
    800 : #299d30,
    900 : #1b8d21,
    A100 : #c6ffc9,
    A200 : #93ff98,
    A400 : #60ff67,
    A700 : #47ff4f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mvv-purple: (
    50 : #efe1eb,
    100 : #d7b4ce,
    200 : #bd82ae,
    300 : #a24f8d,
    400 : #8e2a74,
    500 : #7a045c,
    600 : #720354,
    700 : #67034a,
    800 : #5d0241,
    900 : #4a0130,
    A100 : #ff7ec7,
    A200 : #ff4bb1,
    A400 : #ff189b,
    A700 : #fd0090,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
